<form method="post" class="d-flex" action="{{ path('app_list_delete', {'id': todolist.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette liste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todolist.id) }}">
    <button class="btn btn-danger">Supprimer la liste</button>
</form>
